{% extends 'base.html' %}
{% block body %}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    // Wait for the DOM to be fully loaded
    document.addEventListener("DOMContentLoaded", function() {
        // Get the select element
        var selectElement = document.getElementById("method");
        
        // Add an event listener for when the select element changes
        selectElement.addEventListener("change", function() {
            // Get the selected option
            var selectedOption = selectElement.options[selectElement.selectedIndex];
            
            // If the selected option is not empty, remove the "disabled" attribute from all options
            if (selectedOption.value !== "") {
                var options = selectElement.getElementsByTagName("option");
                for (var i = 0; i < options.length; i++) {
                    options[i].removeAttribute("disabled");
                }
            }
        });
    });
</script>
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <p class="breadcrumbs">You are currently on: <strong>Add funds</strong></p>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="noti-bar noti-warning">
                    <p><h5><strong>Important:</strong></h5>We currently accept PayPal only. We're actively expanding payment options, including credit card and Google Pay soon for added convenience.</p>
                </div>
            </div>
        </div>
        <div class="fund">
            <div class="col-md-8">
                <ul class="nav nav-tabs" role="tablist">
                <li class="active"><a href="#add-funds" aria-controls="add-funds" role="tab" data-toggle="tab">Add Funds</a></li>
                <li><a href="#history" aria-controls="history" role="tab" data-toggle="tab">History</a></li>
                </ul>
                <div class="well">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="add-funds">
                            <form method="post" action="{% url 'add_funds' %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="method" class="control-label">Method</label>
                                    <select class="form-control" id="method" name="AddFoundsForm[type]" id="order_type">
                                        <option>PayPal</option>
                                    </select>
                                </div>
                                <div class="bonus_fund_wrap">
                                    <div class="form-group">
                                        <label for="amount" class="control-label">Amount</label>
                                        <input type="number" class="form-control" name="amount">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-secondary">Add Funds</button>
                            </form>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="history">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                        <th>ID</th>
                                        <th>Date</th>
                                        <th>Method</th>
                                        <th>Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="table-cont">
                                            <td data-head="ID">1031911</td>
                                            <td data-head="Date"><span class="nowrap">2024-04-11 23:46:52</span></td>
                                            <td data-head="Method">Bonus</td>
                                            <td data-head="Amount"><span data-toggle="tooltip" data-placement="left" title="3.67231&nbsp;AED">≈ 1.00</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock body %}
