{% extends 'base.html' %}

{% block body %}
<div class="container-fluid">
  <div class="row option-row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <p class="breadcrumbs">You are currently on: <strong>Orders</strong></p>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Link</th>
              <th>Quantity</th>
              <th>Charge</th>
              <th class="service-name">Service</th>
              <th class="text-center">Status</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr class="table-cont">
              <td data-head="ID">
                <button type="button" class="btn btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom" title="Copy to clipboard">{{ order.id }}</button>
              </td>
              <td data-head="Date">{{ order.date_created }}</td>
              <td data-head="Link">
                <div class="input-group table-link-box">
                  <input class="form-control" value="{{ order.link }}">
                  <div class="-group-btn">
                    <a href="{{ order.link }}" target="_blank" type="button" class="btn btn-default"><i class="fas fa-external-link-square-alt"></i></a>
                  </div>
                </div>
              </td>
              <td data-head="Quantity">{{ order.quantity }}</td>
              <td data-head="Charge">{{ order.charge }}</td>
              <td data-head="Service" class="service-name">
                <p>{{ order.service.title }}</p>
              </td>
              <td data-head="Status">
                <div class="status-badge badge-complete"><span>{{ order.status }}</span></div>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <ul class="pagination">
        <!-- Previous page button -->
        {% if orders.has_previous %}
        <li><a href="?page={{ orders.previous_page_number }}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
        {% else %}
        <li class="disabled"><span aria-hidden="true">&laquo;</span></li>
        {% endif %}

        <!-- Pagination links -->
        {% for page_num in page_range %}
        <li {% if page_num == current_page %}class="active"{% endif %}>
          <a href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% endfor %}

        <!-- Next page button -->
        {% if orders.has_next %}
        <li><a href="?page={{ orders.next_page_number }}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
        {% else %}
        <li class="disabled"><span aria-hidden="true">&raquo;</span></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock body %}
