        <link rel="shortcut icon" type="image/ico" href="https://cdn.mypanel.link/1847ba/rq3w4hc5t3bi8jke.ico" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Material+Icons&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/0.8.2/css/flag-icon.min.css" />
                                <link href="https://cdn.jsdelivr.net/gh/kartik-v/bootstrap-fileinput@5.5.2/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
            <link href="https://cdn.jsdelivr.net/npm/bootstrap-fileinput@5.5.2/themes/explorer-fa5/theme.css" media="all" rel="stylesheet" type="text/css" />
                  

<script src="//code.jivosite.com/widget/RyRlLFPuOG" async></script>

        <link rel="stylesheet" type="text/css" async href="https://cdn.mypanel.link/1847ba/tyqhli85hls2h2q7.css">
        <link rel="stylesheet" type="text/css" async href="https://cdn.mypanel.link/1847ba/4qq2m3y607grj6p0.css">
        <link rel="stylesheet" type="text/css" async href="https://cdn.mypanel.link/libs/bootstrap-datetimepicker/4.17.47/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" type="text/css" async href="https://cdn.mypanel.link/css/font-awesome/css/all.min.css">
        <link rel="stylesheet" type="text/css" async href="https://cdn.mypanel.link/global/tp2jssyocan4ndm1.css">

  </head>
      <main class="inner-wrap">
        <div class="container-fluid">
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><p class="breadcrumbs">You are currently on: <strong>Tickets</strong></p></div>
    <div class="col-sm-4"></div>
  </div>
  <div id="ticket-form" class="create-ticket-wrap">
    <form  method="post" action="" id="ticketsend">
      <div class="alert alert-dismissible alert-danger ticket-danger " style="display: none">
        <button type="button" class="close">&times;</button>
        <div></div>
      </div>
      <div class="form-group">
        <label class="control-label">How to Create New Ticket ?</label>
        <ul class="ticket-steps">
          <li class="active"><span>01</span><span>Select Category</span></li>
          <li><span>02</span><span>Select Subject</span></li>
          <li><span>03</span><span>Enter the required info and create Message</span></li>
        </ul>
      </div>
      <div class="form-group">
        <label class="control-label">1 - Select Category</label>
        <div class="row">
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input subject ticket-options" id="subjectOrder" name="TicketForm[subject]" value="Order" checked="checked">
              <label class="custom-control-label ticket-options-label" for="subjectOrder"><span class="opt-icon"><img src="https://cdn.mypanel.link/1847ba/zp6mfyqhbrgu6rr8.png"/></span><span class="opt-text">Order</span></label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input subject ticket-options" id="subjectPayment" name="TicketForm[subject]" value="Payment">
              <label class="custom-control-label ticket-options-label" for="subjectPayment"><span class="opt-icon"><img src="https://cdn.mypanel.link/1847ba/ab2gxoklj7x1egm7.png"/></span><span class="opt-text">Payment</span></label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input subject ticket-options" id="subjectService" name="TicketForm[subject]" value="Service">
              <label class="custom-control-label ticket-options-label" for="subjectService"><span class="opt-icon"><img src="https://cdn.mypanel.link/1847ba/d7xll9icje50rn0j.png"/></span><span class="opt-text">Service</span></label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input subject ticket-options" id="subjectPoints" name="TicketForm[subject]" value="Points">
              <label class="custom-control-label ticket-options-label" for="subjectPoints"><span class="opt-icon"><img src="https://cdn.mypanel.link/1847ba/r8mr85rnwsn9m8nq.png"/></span><span class="opt-text">Points</span></label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input subject ticket-options" id="subjectCP" name="TicketForm[subject]" value="Child Panel">
              <label class="custom-control-label ticket-options-label" for="subjectCP"><span class="opt-icon"><img src="https://cdn.mypanel.link/1847ba/eift52slgmctw007.png"/></span><span class="opt-text">Child Panel</span></label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input subject ticket-options" id="subjectAPI" name="TicketForm[subject]" value="API">
              <label class="custom-control-label ticket-options-label" for="subjectAPI"><span class="opt-icon"><img src="https://cdn.mypanel.link/1847ba/93hu5d1qgzh76mck.png"/></span><span class="opt-text">API</span></label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input subject ticket-options" id="subjectRQ" name="TicketForm[subject]" value="Request/Other">
              <label class="custom-control-label ticket-options-label" for="subjectRQ"><span class="opt-icon"><img src="https://cdn.mypanel.link/1847ba/sq0qmw2xqj115o0o.png"/></span><span class="opt-text">Request/Other</span></label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input subject ticket-options" id="subjectBR" name="TicketForm[subject]" value="Bug Report">
              <label class="custom-control-label ticket-options-label" for="subjectBR"><span class="opt-icon"><img src="https://cdn.mypanel.link/1847ba/ezs4r715o7wompde.png"/></span><span class="opt-text">Bug Report</span></label>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group therequest">
        <label class="control-label">2 - Select Subject</label>
        <div class="row">
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input second-options" id="requestRefill" name="request" value="Refill" checked="">
              <label class="custom-control-label" for="requestRefill">Refill</label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input second-options" id="requestCancellation" name="request" value="Cancellation">
              <label class="custom-control-label" for="requestCancellation">Cancellation</label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input second-options" id="requestSpeed" name="request" value="Speed Up">
              <label class="custom-control-label" for="requestSpeed">Speed Up</label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input second-options" id="requestOther" name="request" value="Other">
              <label class="custom-control-label" for="requestOther">Other</label>
            </span>
          </div>
        </div>
      </div>
      <div class="form-group ordernumbers">
        <label class="control-label" for="ordernumbers">3 - Order ID: </label>
        <input id="ordernumbers" type="text" class="form-control" placeholder="For multiple orders, please separate them using comma. (example: 12345,12345,12345)">
      </div>
      
      <div class="form-group thePaymentRequest" style="display:none;">
        <label class="control-label">2 - Select Payment</label>
        <div class="row">
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input payment-options" id="requestVisa" name="paymentRequest" value="Visa/MasterCard" checked="">
              <label class="custom-control-label" for="requestVisa">Visa/MasterCard</label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input payment-options" id="requestApple" name="paymentRequest" value="Apple Pay">
              <label class="custom-control-label" for="requestApple">Apple Pay</label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input payment-options" id="requestPaypal" name="paymentRequest" value="Paypal">
              <label class="custom-control-label" for="requestPaypal">Paypal</label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input payment-options" id="requestCrypto" name="paymentRequest" value="Crypto Currencies">
              <label class="custom-control-label" for="requestCrypto">Crypto Currencies</label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input payment-options" id="requestPerfect" name="paymentRequest" value="Perfect Money">
              <label class="custom-control-label" for="requestPerfect">Perfect Money</label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input payment-options" id="requestWebMoney" name="paymentRequest" value="Web Money">
              <label class="custom-control-label" for="requestWebMoney">Web Money</label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input payment-options" id="requestPayeer" name="paymentRequest" value="Payeer">
              <label class="custom-control-label" for="requestPayeer">Payeer</label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input payment-options" id="requestPayoneer" name="paymentRequest" value="Payoneer">
              <label class="custom-control-label" for="requestPayoneer">Payoneer</label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input payment-options" id="requestSkrill" name="paymentRequest" value="Skrill">
              <label class="custom-control-label" for="requestSkrill">Skrill</label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input payment-options" id="requestVoda" name="paymentRequest" value="Vodafone Cash">
              <label class="custom-control-label" for="requestVoda">Vodafone Cash</label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input payment-options" id="paymentBank" name="paymentRequest" value="Bank Transfer">
              <label class="custom-control-label" for="paymentBank">Bank Transfer</label>
            </span>
          </div>
          <div class="col">
            <span class="custom-control">
              <input type="radio" class="custom-control-input payment-options" id="paymentOther" name="paymentRequest" value="Other">
              <label class="custom-control-label" for="paymentOther">Other</label>
            </span>
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label class="control-label" for="message">Message</label>
        <textarea class="form-control" rows="7" id="message"></textarea>
      </div>
       <div class="form-group">
        <div class="tickets-uploader" data-rtl="false" data-lang-button-attach="Attach files" data-lang-file-format-incorrect="Invalid file format" data-lang-file-size-incorrect="File is too large (limit 5 MB)"></div>
      </div>
      <input type="hidden" name="_csrf" value="xthyDCYQ_vBUBopemTmWI38ALhUwA_zVKIgjXDaU05ODgDRFd3uMoBVXuWiuDN9yFzJIUXJpm5tb0RtpXv_j8Q==">

      <input type="hidden" name="TicketForm[message]" id="alldata">
    </form>
  </div>
  <div id="ticket-table" class="ticket-history-wrap hidden">
            <form action="/tickets" method="get" id="history-search">
      <div class="input-group search-bar">
        <input type="text" class="form-control" value="" name="search" placeholder="Search">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="far fa-search" aria-hidden="true"></i></button>
        </span>
      </div>
    </form>
          </div>
</div>

      </main>
  	      </div>
                  <script type="text/javascript" src="https://cdn.mypanel.link/libs/jquery/1.12.4/jquery.min.js">
              </script>
            <script type="text/javascript" src="https://cdn.mypanel.link/global/cflcci28nes0yhln.js">
              </script>
            <script type="text/javascript" src="https://cdn.mypanel.link/global/t3u8bszy7ju8y8or.js">
              </script>
            <script type="text/javascript" src="https://cdn.mypanel.link/global/oor0gfnm6a7rec3u.js">
              </script>
            <script type="text/javascript" src="https://cdn.mypanel.link/global/5sj057uwzy9m8fjz.js">
              </script>
            <script type="text/javascript" src="https://cdn.mypanel.link/1847ba/dnnciso7qgmr17u5.js">
              </script>
            <script type="text/javascript" src="https://cdn.mypanel.link/1847ba/efq6bw5fxt96bd2j.js">
              </script>
            <script type="text/javascript" >
         window.modules.layouts = {"theme_id":4,"auth":1,"live":true,"csrftoken":"xthyDCYQ_vBUBopemTmWI38ALhUwA_zVKIgjXDaU05ODgDRFd3uMoBVXuWiuDN9yFzJIUXJpm5tb0RtpXv_j8Q=="};       </script>
            <script type="text/javascript" >
         window.modules.siteTickets = {"createTicketUrl":"\/ticket-create","getCdnTokenUrl":"\/tickets\/get-cdn-token","cdnUploadUrl":"https:\/\/upload.mypanel.link\/api\/upload"};       </script>
            <script type="text/javascript" >
         window.cdn_token = {"token":"eyJ0eXAiOiJKV1QifQ.eyJhcHBsaWNhdGlvbklkIjo1LCJkb21haW4iOiJodHRwczpcL1wvc21tY3Bhbi5jb20iLCJhY2Nlc3NSdWxlcyI6IntcImRlbGV0ZVwiOnRydWUsXCJ1cGxvYWRcIjp0cnVlfSIsInJlc3RyaWN0aW9ucyI6eyJtYXhTaXplIjo1MjQyODgwLCJtaW1lVHlwZXMiOlsiaW1hZ2VcL3BuZyIsImltYWdlXC9qcGVnIiwiaW1hZ2VcL2dpZiIsInRleHRcL3BsYWluIiwidGV4dFwvY3N2IiwiYXBwbGljYXRpb25cL3BkZiJdfSwia2V5IjoiZ2hscFNidVVRa281SjJiWiIsImZvbGRlciI6IjE4NDdiYSIsImV4cCI6MTcxNDQ0MTI4NH0.7eQFMq9eI2-oI4aoxq1607O9g1Pq5gnBqkbr5WCZ04g","exp":1714441284};       </script>
            <script type="text/javascript" >
              </script>
                  
           
    
    <!--MOBILE MODE TOGGLE-->
        <script>
          function toggleMobileMode() {
            modeNature = !modeNature;
            if (modeNature) {
              $('#toggleMIcon').text('wb_sunny');
              $('#toggleMText').text('Day Mode');
              daymode = $('.daymode').removeClass('daymode');
              daymode.addClass('nightmode');
              $.get('/changevariable/custom_variable_1?value=1', function() {
              });
            } else {
              $('#toggleMIcon').text('nights_stay');
              $('#toggleMText').text('Night Mode');
              nightmode = $('.nightmode').removeClass('nightmode');
              nightmode.addClass('daymode');
              $.get('/changevariable/custom_variable_1?value=0', function() {
              });
            }
          }
          var modeNature = false;
    </script>
        <!--MOBILE MODE TOGGLE-->
                                                      
            <script type="text/javascript">
        $('#fund-history').on('click', function(e) {
          if ($(this).text() == "Check History") { 
              $(this).text("Go Back"); 
          } else { 
              $(this).text("Check History"); 
          };
          $('#ticket-form, #ticket-table').toggleClass("hidden");
        });
        function HideEverything(){
            $('.payment').hide();
      		$('.thePaymentRequest').hide();
            $('.ordernumbers').hide();
            $('.therequest').hide();
            $('.transactionid').hide();
        }
  		$(document).ready(function(){
          $('.subject').change(function(){
                HideEverything();
                if($(this).val()=='Order' || $(this).val()=='الطلبات'){
                    $('.ordernumbers').show();
                    $('.therequest').show();
                }
                if($(this).val()=='Payment' || $(this).val()=='المدفوعات'){
                    $('.payment').show();
      				$('.thePaymentRequest').show();
                    $('.transactionid').show();
                }
            });
          	/*const successArea = document.getElementById("successArea");
          	successArea.style.display = "none";*/
          $('#send').click(function(e){
                e.preventDefault();
                $TheSubject = $('.subject:checked').val();
                $TheRequest = $('.second-options:checked').val();
      		    $ThePaymentRequest = $('.payment-options:checked').val();
                $FinalSubject = $('.subject:checked').val();
                if ($TheSubject == 'Order' || $TheSubject == 'الطلبات'){
                    $final = "Order ID: " + $('#ordernumbers').val() + '\n' 
                    + 'Request: ' + $TheRequest + '\n\n'
                    + $('#message').val();

                    $FinalSubject;
                } else if ($TheSubject == 'Payment' || $TheSubject == 'المدفوعات'){
                    $final = 'Payment Method: ' + $ThePaymentRequest + '\n\n'
                    + $('#message').val();

                    $FinalSubject;
                }else{
                    $final = $('#message').val();
                }
                $('#alldata').val($final);
                $('.subject:checked').val(""+$FinalSubject);
                $('#ticketsend').submit();
            });
        });
      </script>
        
  </body>
</html>